<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StaffRegistrationServlet</servlet-name>
        <servlet-class>uts.isd.group30.controller.StaffRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegistrationServlet</servlet-name>
        <servlet-class>uts.isd.group30.controller.CustomerRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailsServlet</servlet-name>
        <servlet-class>uts.isd.group30.controller.UserDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.isd.group30.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.group30.controller.ConnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogueServlet</servlet-name>
        <servlet-class>uts.isd.group30.controller.CatalogueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>uts.isd.group30.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDeviceServlet</servlet-name>
        <servlet-class>uts.isd.group30.controller.AddDeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDetailsServlet</servlet-name>
        <servlet-class>uts.isd.group30.controller.UpdateDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>uts.isd.group30.controller.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDetailsServlet</servlet-name>
        <url-pattern>/UserDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogueServlet</servlet-name>
        <url-pattern>/CatalogueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddPaymentServlet</servlet-name>
        <servlet-class>uts.isd.group30.controller.AddPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>uts.isd.group30.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPaymentServlet</servlet-name>
        <url-pattern>/AddPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDeviceServlet</servlet-name>
        <url-pattern>/AddDeviceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDetailsServlet</servlet-name>
        <url-pattern>/UpdateDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
